In [1]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
!pip show kafka-python

Name: kafka-python
Version: 2.0.2
Summary: Pure Python client for Apache Kafka
Home-page: https://github.com/dpkp/kafka-python
Author: Dana Powers
Author-email: dana.powers@gmail.com
License: Apache License 2.0
Location: /Users/jobdulo/opt/anaconda3/envs/gis_env/lib/python3.8/site-packages
Requires:
Required-by:

In [2]:
producer = KafkaProducer(
    bootstrap_servers=['13.53.122.51:9092'],
    value_serializer=lambda x:dumps(x).encode('utf-8'),
    api_version=(2, 0, 2)
)

In [4]:
producer.send('demo_testing2', value="{'kafka':'produced part two'}")

In [7]:
df = pd.read_csv("data/indexProcessed.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [8]:
df.sample(1) #random record

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
20586,NYA,2014-01-21,10343.23047,10401.76953,10313.12988,10366.00977,10366.00977,3.782470e+09,10366.00977

In [9]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0] #random record
    producer.send('demo_testing2', value=dict_stock)

KeyboardInterrupt:

In [5]:
producer.flush()